.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.taskCreaterForm {
  display: flex;
  flex-direction: column;
}

.taskCreateContainer {
  width: 450px;
}
.header {
  text-align: center;
}
.taskInput {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
.taskButton {
  padding: 10px;
  background-color: green;
  margin: 10px 0px;
  border: 1px solid green;
  color: white;
  border-radius: 10px;
  font-size: 20px;
}
.card {
  border: 1px solid green;
  border: radius;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  align-items: center;
  margin: 12px;
  height: 30vh;
}

.taskList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}
.editButton {
  padding: 5px;
  font-size: 15px;
  width: 60px;
  border: none;
  border-radius: 30px;
  background-color: blue;
  color: white;
  margin-right: 10px;
}
.deleteButton {
  padding: 5px;
  font-size: 15px;
  width: 60px;
  border: none;
  border-radius: 30px;
  background-color: red;
  color: white;
  margin-right: 10px;
}
.buttonContainer {
  margin: 8px;
}
.cardInfo {
  margin: 4px;
  padding: 4px;
  border-radius: 8px;
  width: 80%;
  text-align: center;
  overflow: auto;
}
